[submodule "fishingcom-client"]
	path = fishingcom-cient
	url = https://github.com/ziobob94/fishingcom-client
[submodule "fishingcom-server"]
	path = fishingcom-server
	url = https://github.com/ziobob94/fishingcom-server
